.conteiner {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  /* align-items: center; */
  justify-content: flex-start;
}
.box {
  font-size: 30px;
  color: brown;
  background-color: aqua;
  cursor: pointer;
  width: 100px;
  height: 100px;
  flex-basis: 100px;
  padding: 30px;
  text-align: center;
  margin: 20px;
  border: 5px solid rgb(92, 51, 51);
  border-right-color: rgb(153, 153, 233);
  border-bottom-color: rgb(47, 85, 209);
  border-left-color: rgb(18, 15, 214);
  border-top-color: transparent;
  transform: scale(45deg);
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px grey;
}

.background {
  background-color: brown;
}
